$headline1-font-size: 46px;
$headline2-font-size: 36px;
$main-font-size: 16px;
$text2-font-size: 14px;
$headline1-mob-font-size: 26px;
$headline2-mob-font-size: 21px;
$text3-mob-font-size: 12px;

$line-height-auto: auto;
$line-height-130: 130%;
$line-height-150: 150%;

$white-color: #fff;
$text-color: #929292;
$dark-grey: #2f2f2f;
$backgrond-black: #05040b;
$contrast-color: #05c2df;
$start-gradient: #191536;
$finish-gradient: #000;

$mobile-breakpoint: 320px;
$tablet-breakpoint: 1024px;
$notebook-breakpoint: 1280px;
$design-breakpoint: 1600px;
$full-breakpoint: 1920px;
$large-breakpoint: 2560px;

$font-weight-semibold: 600;
$font-weight-bold: 700;

$transition-duration: 400ms;
$animation-duration: 500ms;
$ease-function: ease-in-out;
